<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sakahari home</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
<div class="header">
  <div class="container">
    <div class="navbar">
      <div>
        <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About US</a></li>
            <li><a href="">Our Products</a></li>
            <li><a href="">Login/Signup</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>